body {
    font-family: Roboto;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar-top {
	left: 10%;
}

.bg-main-container {
	position: absolute;
	width: 80%;
	left: 10%;
}

#bg-main {
	width: 100%;
}

.nav-link{
    color: white;
}

.container {
	position: absolute;
	/* top: 200px; */
}

#logo-new {
	position: absolute;
	top: 30%; 
	left: 0em;
}

#logo-text-caption {
	position: absolute;
    top: 65%; 
    left: 0em;
    
}

#logo-text-value {
	position: absolute;
    top: 69%; 
    left: 0em;
    color: rgba(177,159,137,255);
}
  
  