* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 550px;
    width: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oranienbaum', serif;
}
 
#navbar {
    position: sticky;
    top: 0px;
    z-index: 1; 
    background-color: black;
}  
        


.nav-link{
    color: white;
    font-size: 0.9em;
}

.nav-icon {
    position: absolute;
    clip: rect(0px,60px,25px,0px);
    top: 30%;
}

.li-camera {
      width: 3em; 
}

.li-facebook {
     width: 3em;
}

.li-vk {
     width: 3em;
     padding-right: 7em;
}

 .nav-telephone {
    display:block;  
}

.bg-main-container {
    position: relative;
    /* margin-top: 4em; */
}

 #bg-main {
    width: 100%;
} 

.logo-new {
	position: absolute;
	top: 25%; 
	left: 0;
}

#logo-text-caption {
	padding-top: 2em; 
}

#logo-text-value {
    top: 75%; 
    left: 0%;
    color: rgba(177,159,137,255);
    text-decoration: underline; 
}

.help-container {
	background-color: white;
	color: black;
	position: relative;
	overflow: hidden;
}

#capture-text-help {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#value-text-help {
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
	padding-bottom: 1em;
}
  
#form-reservation-bigcolor {
    width: 100%;
}
  
.text-image-describe {
	text-align: center;
}  
  
.describe-help-container {
	/* position: relative; */
/* 	left: 10%;*/
	width: 60%; 
	margin-left: auto;
    margin-right: auto;
}  

.capture-describe-help-container {
	 margin-top: 2em;
	 margin-bottom: 2em;
}
  
.text-describe-point {
	margin-top: 2em;
    margin-bottom: 2em;
}  

.text-describe-answer {
	margin-left: 4em;
	margin-bottom: 0em;
}
  
.container-table-you-get {
    background-color: white;
    color: black;
    padding-top: 3em;
}

#table-you-get {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}  

table, th, td {
  border: 1px solid black;
}
  
  
#books_preview {
	width: 100%;
}

.container-service-packages {
	position: relative;
	background-color: white;
	color: black;
	padding-top: 5em;
	padding-left: 5%;
	padding-right: 5%;
}
  
.capture-service-packages {
	position: relative; 
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.service-package {
	display: inline-block;
	width: 20%;
	height: 20em;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 1em;
	border: 1px solid black;
	
	overflow: hidden;
}
  
.text-package {
	text-align: center;
}  

.name-package {
    text-align: center;
}  

.card {
	position: relative;
	display: block;
    height: 25em;
    overflow: hidden;
    max-width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1em;
}

.package {
	font-weight: bold;
}

.package-name {
	font-size: 1.5em;
    font-weight: bold;
    margin-top: -0.5em;
}

.btn-danger {
	width: 80%;
}

.time {
    display: block;
    position: relative;
    height: 4em;
    overflow: hidden;
}

.question {
	display: block;
	position: relative;
    height: 5em;
    overflow: hidden;
}

.price-package {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}  

.list-price {
    padding-bottom: 1em;
}
  
.old-price {
    position: relative;
    font-size: 1.4em;
    color: rgba(164,164,165,255);
}
 
.old-price:before {
	border-bottom: 1px solid red;
	position: absolute;
	content: "";
	width: 130%;
	height: 50%;
	transform: rotate(-10deg) translate(-15%);
}

.new-price {
	font-size: 1.4em;
    font-weight: bold;
}
  
.container-process {
    background-color: white;
    color: black;
    padding-top: 3em;
 }

.process-galery {
    position: relative;
    width: 60%;
    left: 20%;
}

.capture-process-galery {
     margin-top: 2em;
     margin-bottom: 3em;    
}

.image-galery {
	width: 100%;
}

.table-galery tr td {
	border: hidden; 
	padding-bottom: 2em;
}

.table-galery tr td:first-child {
	 width: 30%;
}

.text-image {
	padding-left: 1em;
}

footer {
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.btn-up-container {
	text-align: center;
}

.btn-up {
	color: white;
	border: 1px solid white;
	border-radius: 0px 0px 00px 0px;
}

	
.footer-text {
	margin-top: 3em;
}

/* with transform */
.novelty {
	/* border-bottom: 1px solid red; */
    position: absolute;
    left: -4em;
    top: 2em;
    width: 15em;
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    background-color: red;
    color: white;
    transform: rotate(-35deg) ; 
    text-align: center;
}


@media (max-width: 1265px) { 
	body {
	    padding-left: 0;
	    padding-right: 0;
    }
    
     #navbar {
          margin-left: -3%;
          margin-right: -10%;  
        } 
        
    .help-container {
        margin-left: -10%;
        margin-right: -10%;
    }
    .container-table-you-get {
        margin-left: -10%;
        margin-right: -10%;
    }
    .books_preview {
        margin-left: -10%;
        margin-right: -10%;
    }
    .container-service-packages {
        margin-left: -3%;
        margin-right: -10%;
    }
    .container-process {
        margin-left: -10%;
        margin-right: -10%;    
    }

    .bg-main-container {
        margin-left: 0;
        margin-right: 0;
    }
    
    .novelty {
        left: 1em;
    }
    .nav-telephone {
        display: none;
    }
    .nav-icon {
        display: none;
    }
}

@media (max-width: 1160px){
	.question {
	    height: 6em;
	}
}

@media (max-width: 925px) { 
    #logo-text-caption {
        display: none;
    }
    #logo-text-value {
        display: none;
    }
}  

@media (max-width: 860px) { 
    .novelty {
        display: none;
    }
}

@media (max-width: 650px) { 
    .logo-new {
        display: none;
    }
}











  