body {
    font-family: Roboto;
    background-color: black;
    color: white;
    position: relative;
    width: 80%;
    left: 10%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar-top {
	left: 0%;
}

.bg-main-container {
	position: relative;
/* 	width: 80%;
	left: 10%; */
}

 #bg-main {
	width: 100%;
} 

.nav-link{
    color: white;
}

.container {
	position: relative;
	/* top: 200px; */
}

#logo-new {
	position: absolute;
	top: 10em; 
	left: 0em;
}

#logo-text-caption {
	position: absolute;
    top: 20em; 
    left: 0em;
    
}

#logo-text-value {
	position: absolute;
    top: 21.5em; 
    left: 0em;
    color: rgba(177,159,137,255);
    text-decoration: underline; 
}

 .help-container {
	display: block;
	background-color: white;
	color: black;
}

#capture-text-help {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#value-text-help {
	/* position: relative; */
	width: 90%;
	left: 5%;
	text-align: center;
	padding-bottom: 1em;
}
  
#form-reservation-bigcolor {
    width: 100%;
}
  
.text-image-describe {
	text-align: center;
}  
  
.describe-help-container {
	/* position: relative; */
/* 	left: 10%;*/
	width: 60%; 
	margin-left: auto;
    margin-right: auto;
}  

.capture-describe-help-container {
	 margin-top: 2em;
	 margin-bottom: 2em;
}
  
.text-describe-point {
	margin-top: 2em;
    margin-bottom: 2em;
}  

.text-describe-answer {
	margin-left: 4em;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  