body {
    font-family: Roboto;
    background-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bg-main {
	width: 100%;
}

.nav-link{
  color: white;
}

.container {
	position: absolute;
	/* top: 200px; */
}

#logo-new {
	position: absolute;
	top: 30%; 
	left: 0em;
}
  
  