body {
    font-family: Roboto;
    background-color: black;
    color: white;
    position: relative;
    width: 80%;
    left: 10%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-main-container {
	position: relative;
}

 #bg-main {
	width: 100%;
} 

.nav-link{
    color: white;
}

.container {
	position: relative;
}

.logo-new {
	position: absolute;
	top: 25%; 
	left: 0;
}

#logo-text-caption {
	padding-top: 2em; 
}

#logo-text-value {
    top: 75%; 
    left: 0%;
    color: rgba(177,159,137,255);
    text-decoration: underline; 
}

.help-container {
	background-color: white;
	color: black;
}

#capture-text-help {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#value-text-help {
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
	padding-bottom: 1em;
}
  
#form-reservation-bigcolor {
    width: 100%;
}
  
.text-image-describe {
	text-align: center;
}  
  
.describe-help-container {
	/* position: relative; */
/* 	left: 10%;*/
	width: 60%; 
	margin-left: auto;
    margin-right: auto;
}  

.capture-describe-help-container {
	 margin-top: 2em;
	 margin-bottom: 2em;
}
  
.text-describe-point {
	margin-top: 2em;
    margin-bottom: 2em;
}  

.text-describe-answer {
	margin-left: 4em;
	margin-bottom: 0em;
}
  
.container-table-you-get {
    background-color: white;
    color: black;
    padding-top: 3em;
}

#table-you-get {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}  

table, th, td {
  border: 1px solid black;
}
  
  
#books_preview {
	width: 100%;
}

.container-service-packages {
	position: relative;
	background-color: white;
	color: black;
	padding-top: 5em;
	padding-left: 5%;
	padding-right: 5%;
}
  
.capture-service-packages {
	position: relative; 
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.service-package {
	display: inline-block;
	width: 20%;
	height: 20em;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 1em;
	border: 1px solid black;
	
	overflow: hidden;
}
  
.text-package {
	text-align: center;
}  

.name-package {
    text-align: center;
}  

.card {
	position: relative;
	display: block;
    height: 25em;
    overflow: hidden;
    max-width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-top: 1em;
}

/* .card:last-child{ 
    max-width: 25em;
    left: 200px;
} */

.time {
    display: block;
    position: relative;
    height: 4em;
    overflow: hidden;
}

.question {
	display: block;
	position: relative;
    height: 5em;
    overflow: hidden;
}

.price-package {
    display: block;
    position: relative;
    overflow: hidden;
}  
  
.price {
    position: relative;
}
 
.price:before {
	border-bottom: 1px solid red;
	position: absolute;
	content: "";
	width: 130%;
	height: 50%;
	transform: rotate(-10deg) translate(-15%);
}
  
.container-process {
    background-color: white;
    color: black;
    padding-top: 3em;
 }

.process-galery {
    position: relative;
    width: 60%;
    left: 20%;
}

.process-galery h1{
    padding-top: 2em;
    padding-bottom: 2em;
}

.image-galery {
	width: 100%;
}

.table-galery tr td {
	border: hidden; 
	padding-bottom: 2em;
}

.table-galery tr td:first-child {
	 width: 30%;
}

.text-image {
	padding-left: 1em;
}









  